<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Dots Forum</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
      <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
</head>

<body>

    <!-- header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <span class="tag-line">Dots Forum: A perfect platform for industry information sharing</span>
                </div>

                <!--  navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li class="current-menu-item"><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/loggedin/createpost">Ask Question</a></li>
                                 <li><a href="/login">Log In</a></li>
                                 <li><a href="/register">Register</a></li>
                                 <li><a href="/contact">Contact</a></li>
                                 <li><a href="/promotion">Promotion</a></li>

                        </ul>
                    </div>
                </nav>
                <!--  navigation ends-->

            </div>
        </header>
    </div>
    <!-- header ends -->


    <!-- Page content -->
    <div class="page-container">
        <div class="container">
            <div class="row">

                <!-- page content -->
                <div class="span8 page-content">
                    <div class="arial">
                    <p> TsingHua University: webmaster@tsinghua.edu.cn </p>
                    <p> Peking University: its@pku.edu.cn  </p>
                    <p> University of California, Berkeley: webmaster@berkerley.edu </p>
                    <!-- to input contact info -->
                    <h4> Only users identified as "company" when registering can add new contacts.</h4>
                    <a href="/loggedin/createcontact" class="btn btn-mini">In Put Contact Info</a>
                    <ul class="articles">
                        <% for(var i = addedcontact.length-1; i >=0;i--){ %>
                            <li class="article-entry standard">
                                <h4><a href="/contact/<%=addedcontact[i]._id%>"> <%= addedcontact[i].title %>
                                    <%= addedcontact[i].posttype %></a></h4>

                                        <span class="article-meta">Provided By <span
                                            id="authorname"><%= addedcontact[i].name %></span></span>

                            </li>
                        <% } %>
                    </ul>
                    </div>
                </div>





                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">Dots Forum Organizers</h3>
                                <p class="intro">If you have questions related to the Dots Forum, click <a
                                   href="/askorganizer">here</a>.</p>
                        </div>
                    </section>

                    <section class="widget">
                        <div class="quick-links-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul id="menu-quick-links" class="menu clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="/loggedin/createpost">Ask Question</a></li>
                                <li><a href="/login">Log In</a></li>
                                <li><a href="/register">Register</a></li>

                            </ul>
                        </div>
                    </section>

                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <div class="tagcloud">
                            <a href="#" class="btn btn-mini">Finding Employment</a>
                            <a href="#" class="btn btn-mini">Tech Trend</a>
                            <a href="#" class="btn btn-mini">Venture Capital Sharing</a>
                            <a href="#" class="btn btn-mini">Start-up Ideas</a>
                            <a href="#" class="btn btn-mini">Economic predictions</a>

                        </div>
                    </section>

                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>

    <!-- End of Page Container -->

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why Dots Forum?</h3>
                        <div class="textwidget">
                            <p>The online Dots Forum allows for sharing of trendy industry information and communication
                                among students, start-up employees and venture capital representatives. We also
                                distributes information regarding the offline Dots Forum. One can search for the
                                answers to one's questions by entering keywords in the search bar.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Question to Organizers</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you have questions for the Dots Forum? Simply click <a href="/askorganizer">here</a>
                                    to talk to our organizers!</li>
                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Finding Employment">Finding Employment</a> </li>
                            <li><a href="#" title="Tech Trend">Tech Trend</a></li>
                            <li><a href="#" title="Venture Capital Sharing">Venture Capital Sharing</a></li>
                            <li><a href="#" title="Start-up Ideas">Start-up Ideas</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="/" title="Home">Home</a> </li>
                            <li><a href="/loggedin/createpost">Ask Question</a></li>
                            <li><a href="/login" title="Log In">Log In</a></li>
                            <li><a href="/register" title="Register">Register</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2020.DotsForum All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->

    <a href="#top" id="scroll-top"></a>

</body>

</html>