<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <title>Dots Forum</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
      <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
    </head>
<body>

    <!-- Start of Header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <span class="tag-line">Dots Forum: A perfect platform for industry information sharing</span>
                </div>


                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/loggedin">Home</a></li>
                            <li class="current-menu-item"><a href="/loggedin/createpost">Ask Question</a></li>
                            <li><a href="/logout">Log Out</a></li>
                            <li><a href="/loggedin/profile">Edit Profile</a></li>
                            <li><a href="/about">About</a></li>
、                            <li><a href="/login">Log In</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/promotion">Promotion</a></li>


                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->
            </div>
        </header>
    </div>
    <!-- End of Header -->

    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper2">
        <div class="search-area container2">
            <h3 class="search-header">Did not find the answer to your question?</h3>
            <p class="search-tag-line">Just ask a new question!</p>
        </div>
    </div>
    <!-- End of Search Wrapper -->

    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">
                <!-- start of page content -->
                <div class="span8 page-content">
                    <article class="type-page hentry clearfix">
                        <h2 class="post-title">Edit Question</h2>
                        <hr>
                    </article>
                    <form id="contact-form" class="row" action="/post/<%=addedpost._id%>/edit" method="post">
                        <div class="span2">
                            <label for="name">Title <span>*</span></label>
                        </div>
                        <div class="span6">
                            <input type="text" name="title" id="name" class="required input-xlarge" value='<%= addedpost.title %>'
                                title="* Please provide your title">
                        </div>
                        <!--<div class="span2">
                            <label for="email2">User Name <span>*</span></label>
                        </div>

                        <div class="span6">
                            <input type="text" name="name" id="email" class="email required input-xlarge" value='<%= addedpost.title %>'
                                title="* Please provide valid user name">
                        </div>-->

                        <div class="span2">
                            <label for="message2">Question Content <span>*</span></label>
                        </div>
                        <div class="span5">
                            <textarea name="postcontent" id="message" class="required span5" rows="5" value='<%= addedpost.postcontent %>'
                                title="* Please enter your message"></textarea>
                        </div>
                        <div class="span6 offset2 bm30">
                            <input type="submit" name="submit" value="Submit" class="btn btn-inverse">
                        </div>

                        </form>
                </div>
                <!-- end of page content -->

                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">Dots Forum Organizers</h3>
                            <p class="intro">If you have questions related to the Dots Forum, click <a
                                    href="/askorganizer">here</a>.</p>
                        </div>
                    </section>

                    <section class="widget">
                        <div class="quick-links-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul id="menu-quick-links" class="menu clearfix">
                                <li><a href="/loggedin">Home</a></li>
                                <li><a href="/loggedin/createpost">Ask Question</a></li>
                                <li><a href="/logout">Log Out</a></li>
                                <li><a href="/loggedin/profile">Edit Profile</a></li>

                            </ul>
                        </div>
                    </section>
                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>

    <!-- End of Page Container -->

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why Dots Forum?</h3>
                        <div class="textwidget">
                            <p>The online Dots Forum allows for sharing of trendy industry information and communication
                                among students, start-up employees and venture capital representatives. We also
                                distributes information regarding the offline Dots Forum. One can search for the
                                answers to one's questions by entering keywords in the search bar.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Question to Organizers</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you have questions for the Dots Forum? Simply click <a href="/askorganizer">here</a>
                                    to talk to our organizers!</li>
                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Finding Employment">Finding Employment</a> </li>
                            <li><a href="#" title="Tech Trend">Tech Trend</a></li>
                            <li><a href="#" title="Venture Capital Sharing">Venture Capital Sharing</a></li>
                            <li><a href="#" title="Start-up Ideas">Start-up Ideas</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul><li><a href="/loggedin">Home</a></li>
                        <li><a href="/loggedin/createpost">Ask Question</a></li>
                        <li><a href="/logout">Log Out</a></li>
                        <li><a href="/loggedin/profile">Edit Profile</a></li>
                        </ul>
                        </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2020.DotsForum All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->

</body>

</html>