<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Dots Forum</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" href="css/formstyle.css">
      <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
</head>

<body>

    <!-- header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <span class="tag-line">Dots Forum: A perfect platform for industry information sharing</span>
                </div>

                <!--  navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/loggedin/createpost">Ask Question</a></li>
                                 <li><a href="/login">Log In</a></li>
                                 <li><a href="/register">Register</a></li>
                                 <li><a href="/contact">Contact</a></li>
                                 <li><a href="/promotion">Promotion</a></li>
                            </ul>
                    </div>
                </nav>
                <!--  navigation ends-->

            </div>
        </header>
    </div>
    <!-- header ends -->

    <!-- Search Wrapper -->
    <div class="search-area-wrapper">

        <div class="search-area container">
            <h3 class="search-header">Need Answers for Questions Related to the Industry?</h3>
            <p class="search-tag-line">Simply search and get insights here!</p>
            <form id="search-form" class="search-form clearfix" method="get" action="/search" autocomplete="off">
                <input class="search-term required" type="text" id="s" name="s" placeholder="Type your key word here"
                    title="* Please enter a search term!">
                <input class="search-btn" type="submit" value="Search">
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- Search Wrapper ends -->


    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">

                <!-- start of page content -->
                <div class="span8 page-content">

                    <article id="post-911" class="clearfix post-911 page type-page status-publish hentry">
                        <h1 class="post-title">Log In</h1>
                        <hr>
                        <div id="wppb-login-wrap" class="wppb-user-forms">
                            <form name="loginform" id="loginform" action="/login" method="post">
                                <p class="login-username">
                                    <label for="user_login">Email Address</label>
                                    <input type="text" name="logemail" id="user_login" class="input" value="" size="20">
                                </p>
                                <p class="login-password">
                                    <label for="user_pass">Password</label>
                                    <input type="password" name="logpassword" id="user_pass" class="input" value="" size="20">
                                </p>

                                <p class="login-submit">
                                    <input type="submit" name="wp-submit" id="wppb-submit"
                                        class="button button-primary btn" value="Log In">
                                </p>
            

                            </form>
                        </div>


                        <p>Are you A new user to Dots Forum?</p>



                        <p>Simply register a new account <a href="/register"><span
                                    style="text-decoration: underline;">here</span></a>!</p>
                    </article>

                </div>
                <!-- end of page content -->

                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>


                         <li><a class="bbp-forum-title" href="#">Finding
                                    Employment</a></li>


                            <li><a class="bbp-forum-title" href="#">Tech
                                    Trend</a>
                            </li>


                            <li><a class="bbp-forum-title" href="#">Venture
                                    Capital Sharing</a></li>


                            <li><a class="bbp-forum-title" href="#">Start-up Ideas</a></li>


                            <li><a class="bbp-forum-title" href="#">Economic
                                    Predictions</a></li>


                        </ul>

                    </section>
                </aside>

            </div>
        </div>
    </div>
    <!-- End of Page Container -->


    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why Dots Forum?</h3>
                        <div class="textwidget">
                            <p>The online Dots Forum allows for sharing of trendy industry information and communication
                                among students, start-up employees and venture capital representatives. We also
                                distributes information regarding the offline Dots Forum. One can search for the
                                answers to one's questions by entering keywords in the search bar.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Question to Organizers</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you have questions for the Dots Forum? Simply click <a href="/askorganizer">here</a>
                                    to talk to our organizers!</li>

                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Finding Employment">Finding Employment</a> </li>
                            <li><a href="#" title="Tech Trend">Tech Trend</a></li>
                            <li><a href="#" title="Venture Capital Sharing">Venture Capital Sharing</a></li>
                            <li><a href="#" title="Start-up Ideas">Start-up Ideas</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                             <li><a href="/">Home</a></li>
                            <li><a href="/loggedin/createpost">Ask Question</a></li>
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2020.DotsForum All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->


    <script type="text/javascript">
        var passWordField = document.getElementById('password')
        var passWordConfirmField = document.getElementById('password_conf')
        var form = document.getElementById('login')
        function validateMyForm() {
            if (passWordField.value != passWordConfirmField.value) {
                alert("Passwords do not match. Please try again.");
            } else {
                form.submit()
            }
        }
    </script>

</body>

</html>