<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Dots Forum</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
      <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
</head>

<body>

    <!-- header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <span class="tag-line">Dots Forum: A perfect platform for industry information sharing</span>
                </div>

                <!--  navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li class="current-menu-item"><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/loggedin/createpost">Ask Question</a></li>
                                 <li><a href="/login">Log In</a></li>
                                 <li><a href="/register">Register</a></li>
                                 <li><a href="/contact">Contact</a></li>
                                 <li><a href="/promotion">Promotion</a></li>

                        </ul>
                    </div>
                </nav>
                <!--  navigation ends-->

            </div>
        </header>
    </div>
    <!-- header ends -->


    <!-- Page content -->
    <div class="page-container">
        <div class="container">
            <div class="row">

                <!-- page content -->
                <div class="span8 page-content">
                    <div class="arial">
                    <p> 你好！欢迎光临节点创坛。这里是一群来自清华大学、武汉大学、加州大学伯克利分校的学长学姐。
                    我们将传递信息价值、共享最新资讯。</p>

                    <p>我们真心希望，我们的努力能够让广大普通家庭的孩子在人生的关键节点多一些知情权；
                    我们真心渴望，我们的工作能够助力每个愿意改变的个体成为更好的自我。</p>


                    <p class="intro"> Hi there! Greetings from Dots Forum (Tech Team) and welcome.
                    We are a group of seniors from Tsinghua University, Wuhan University and University of
                    California, Berkeley. We will share with you information relating to industrial trends
                    and startup companies.</p>

                    <p class="intro"> We hope that, our effort will reduce the current information asymmetry
                    faced by vast majority of university students. Furthermore, we aspire to help
                    every student with a growth mindset become a more polished self.</p>
                    </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- End of Page Container -->

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why Dots Forum?</h3>
                        <div class="textwidget">
                            <p>The online Dots Forum allows for sharing of trendy industry information and communication
                                among students, start-up employees and venture capital representatives. We also
                                distributes information regarding the offline Dots Forum. One can search for the
                                answers to one's questions by entering keywords in the search bar.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Question to Organizers</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you have questions for the Dots Forum? Simply click <a href="/askorganizer">here</a>
                                    to talk to our organizers!</li>
                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Finding Employment">Finding Employment</a> </li>
                            <li><a href="#" title="Tech Trend">Tech Trend</a></li>
                            <li><a href="#" title="Venture Capital Sharing">Venture Capital Sharing</a></li>
                            <li><a href="#" title="Start-up Ideas">Start-up Ideas</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/loggedin/createpost">Ask Question</a></li>
                                <li><a href="/login">Log In</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/promotion">Promotion</a></li>

                        </ul>
                    </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2020.DotsForum All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->

    <a href="#top" id="scroll-top"></a>

</body>

</html>